<?xml version="1.0" encoding="utf-8" ?>
<Aegis id="21301" logLevel="2" mutexName="">
  <NetworkChannel name="NetworkClient"
                  sessionClass="Server.Session.ClientSession"
                  receiveBufferSize="8192"
                  initSessionPoolCount="5"
                  maxSessionPoolCount="100"
                  listenIpAddress="192.168.0.100"
                  listenPortNo="10100" />

  <CustomData>
    <GameDB ipAddress="127.0.0.1" port="3306" userId="root" userPwd="1111" dbName="indie_gamedb" />
    <AES IV="AEGIS For Indie!" Key="AEGIS Indie APIs" />
    <UserManager ccuMaxTime="300" maxAliveTime="1800" />
    <CloudSheet storagePath=".\"
                maxTableCount="10"
                maxColumnCount="20"
                maxRecordCount="30000"
                maxFileSize="5242880"
                sessionTimeout="30"
                dataCacheTime="30" />
    <CacheBox maxKeyLength="32" maxValueLength="1048576" />
  </CustomData>
</Aegis>
